.vscode
.hydra
*egg-info
*.pyc
*.log
*.png
*.pt
*.ome.zarr
__pycache__

fine-tuning
experiments
results
result
new_res
checkpoint
checkpoints
data
runs
ckpts
outputs
wandb
# pixi environments
.pixi
*.egg-info
